Source: unstrung
Section: net
Priority: optional
Maintainer: soburi <soburi@gmail.com>
Build-Depends: debhelper (>= 10), dh-systemd (>= 1.5), quilt, libmbedtls-dev
Standards-Version: 3.9.8
Homepage: https://github.com/mcr/unstrung
#Vcs-Git: https://anonscm.debian.org/collab-maint/unstrung.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/unstrung.git

Package: sunshine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base, libmbedtls-dev
Description: RPL router for Linux
 RPL(pronounce ripple) is Routing protocol for Internet of Things.


