[Unit]
Description=Sunshine RPL Router
Documentation=man:sunshine(8)
DefaultDependencies=no

[Service]
Type=simple
EnvironmentFile=-/etc/default/sunshine
ExecStart=/usr/sbin/sunshine --syslog --instanceid ${INSTANCEID} ${OPTIONS}
RemainAfterExit=yes
KillMode=process
Restart=on-failure
PIDFile=/var/run/sunshine.pid

[Install]
WantedBy=multi-user.target
